social-tapX/*/obj/
social-tapX/*/bin/
packages/
social-tapX/.vs/
.vs/
SocialTapServer/bin/
SocialTapServer.Tests/obj/
SocialTapServer.Tests/bin/
SocialTapServer/obj/
*.orig
UpgradeLog*.htm
SocialTapServer.Tests/bin/
UnitTest.Test/obj/
UnitTest.Test/bin/
*.user
SocialTapServer/Properties/PublishProfiles/SocialTapX - Web Deploy.pubxml
Unit_Testai/bin/
Unit_Testai/obj/
